@font-face {
    src: url('/fonts/MavenPro-Medium.ttf');
}

Label, Text, Button {
    -fx-font-smoothing-type: lcd;
}

Label {
    -fx-font-family: 'Maven Pro Medium';
    -fx-font-size: 14;
}

.colorPickerLabel {
    -fx-font-size: 25;
    -fx-text-fill: #000;
}

.fancy-label {
    -fx-font-size: 25;
    -fx-text-fill: #000;
    -fx-background-color: #FFF;
    -fx-background-radius: 10;
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-pref-height: 50;
    -fx-pref-width: 250;
}

.amount-label {
    -fx-background-color: #FFF;
    -fx-background-radius: 10 10 0 0;
}

.fancy-label:hover {
    -fx-text-fill: #F00;
    -fx-cursor: hand;
}

Slider:hover {
    -fx-cursor: hand;
}

ImageView.imageButton:hover {
    -fx-scale-x: 1.2px;
    -fx-scale-y: 1.2px;
    -fx-cursor: hand;
}
