.routePointsButton {
    -fx-background-color: purple;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: #FFF;
}

.routePointsButton:hover {
    -fx-border-color: #FFF;
}

.routePointsButton .pointsImage {
    -fx-opacity: 1;
}

.routePointsButton:hover .pointsImage {
    -fx-opacity: 1;
}
