<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <CustomLevels>
        <CustomLevel name="WTF" intLevel="50"/>
    </CustomLevels>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level}{TRACE=cyan, FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--<Logger name="*" level="ALL"/>-->
        <Root level="ALL">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
